<div class="articleContentHeader navbar-fixed-top">
	<div class="row">
		<div class="articleHeaderLeftCol col-xs-12 col-sm-6 col-md-8">
		    <span class="logo">
		        <a href="#/home"><img class="fitImage" src="images/cog_logo.png" alt="Logo"/></a>
		    </span>
		    <span class="logoText">
		        ARTICLES
		    </span>
		</div>
		<div class="articleHeaderRightCol col-xs-6 col-md-4">
		    <span class="starMark"></span>
		    <div class="sidebar-border sidebar-search">
			    <!-- Search box -->
				<div class="form-group">
					<div class="input-group searchComponent">
						<input type="text" class="form-control input-sm" id="search" placeholder="Search..">
						<div class="input-group-addon btn-sm" id="search-toggle">
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</div>
				</div> <!-- Search box ends here -->
			</div> <!-- side bar search part ends here -->
		</div>
	</div>
</div>