.wrapper{
	width: 100%;
}
footer{
	width: 100%;
	text-align:center;
}
.custom-nav {
	float:none;
	display:inline-block;
	background-color: transparent;
}
.custom-nav li{
	padding-left:35px;
}
.custom-nav li a{
	height: 45px;
	background-image: url("../images/spritesheet.png");
}
.custom-nav li a img{
	border: none;
	outline: none;
}
.custom-nav li:first-child{
	padding: 0px;
}
.custom-nav li a:hover,.custom-nav li a:focus{
	background-color: transparent;
}
.home_icon{
	width: 35px;
	background-position: -294px -0px;
}
.home_icon:hover{
	background-position: -332px 0px;
}
.article_icon{
	width: 55px;
	background-position:  5px 0px;
}
.article_icon:hover{
	background-position: -51px 0px;
}
.cognizanti_icon{
	width: 64px;
	background-position: -112px 0px;
}
.cognizanti_icon:hover{
	background-position: -112px 0px;
}
.connect_icon{
	width: 54px;
	background-position: -179px 0px;
}
.connect_icon:hover{
	background-position: -236px -0px;
}
.setting_icon{
	width: 51px;
	background-position: -372px -1px; 
}
.setting_icon:hover{
	background-position: -429px -1px;
}
.videos_icon{
	width: 42px;
	background-position: -485px 0px;
}
.videos_icon:hover{
	background-position: -530px 0px;
}
.index_container{
	background-color:black;
	opacity:0.9;
	height:60px;
	padding:5px 0;
	margin:5px 0 0 0;
}
.alignCenter
{
	text-align:center;
}
.container_view1{
	padding: 0px;
	margin: 0px;
}
.view1_row{
	background-size: 100% 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 60px;
}
.view1_search{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	padding-left: 75%;
	text-align: right;
	padding-right: 3%;

}
.view1_bookmark{
	margin-left:3%;
	height: 50px;
	width: 10%;
	border: none;
	outline: none;
	height: 50px;
}
.view1_search input{
	color: #fff;
	margin-left: 10%;
	background-color: transparent;
	border:1px solid #fff;
	border-top: none;
	outline: none;
	background-image: url("../images/search-28-28.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 15% 100%;
	display:inline-block;
	width:70%;
	font-size: 1.25em;
	margin-top: -10px;

}
.view1_main{
	-webkit-animation-name: example1; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes example {
    from {display: none;}
    to {display: inline;}
}

/* Standard syntax */
@keyframes example {
    from {display: none;}
    to {display: inline;}
}
.view1_maininactive{
	display: none;
}
.logo{
	margin-top: 70px;
}
.logo a{
	text-decoration: none;
	color: #808989;
	font-size: 1.25em;
	font-weight: 600;

	
}
.logo a img{
	vertical-align: middle;;
	display: inline;
}
.logo a span{
	margin-left: 2.5%;
}
.h1_view1{
	color: #fff;
	text-shadow: 0 0 6px #C2C6C6;
	font-weight: bold;
	font-size: 3.125em;
}
.subhead_view1{
	color: #C2C6C6;
	margin: 0px;
}
.view1_carousel_container{
	margin-top: 260px;
}
.view1_carousel_container h2{
	width: 90%;
	font-size: 1.7em;
	color: #fff;
	padding-bottom: 20px;
	border-bottom: 2px solid #fff;
}
.view1_article_count{
	margin-left: 10%;
}
.view1_article_count span:hover{
	cursor: pointer;
}
.view1_carousel{
	min-height: 70px;
}
.view1_carousel_detail{
	font-size: 1.7em;
	font-weight: bold;
	color: #2EB8E6;
	width: 90%;
}
.view1_carousel_detail:hover{
	cursor: pointer;
}
.view1_icon{
	margin: 20px 0px 0px 0px;
}
.view1_icon ul{
	float: left;
	list-style: none;
	padding: 0px;
	width: 21%;
}
.view1_icon ul li{
	float: left;
}
.l1{
	width: 38%;
}
.l2{
	width: 26%;
}
.l3{
	width: 36%;
}
.view1_icon ul li a{
	width: 100%;
	display: inline-block;
	background-repeat: no-repeat;
}
.view1_dept1 img{
	height: 35px;
	width: 100%;
	

}
.view1_dept2 img{
	height: 35px;
	width: 100%;
	
}
.view1_dept3 img{
	height: 35px;
	width: 100%;
	}
.view1_vertical_details{
	width: 68.5%;
	float: left;
	color: #fff;
	margin-left:5px;
	padding:10px 0px 0px 5px;
	border-top:2px solid #fff;

}
.view1_vertical_details_descrption{
	float: left;
	width: 60%;
	
}

.view1_vertical_details_share{
	float: left;
	margin-left:5%;
	}
.view1_vertical_details_share img{
	width: 40%;
}
.view1_sidebar{
	background-color: rgba(0,0,0,0.7);
	padding: 85px 2% 25px 2%;
}
.view1_sidebar_heading{
	color: #fff;	
}
.view1_sidebar h3{
	font-size: 1.2em;
	color: #fff;	
}
.view1_sidebar_article_number{
	font-size: 1.2em;
	color: #fff;
	padding: 0px 0px 10px 7%;
	border-bottom: 2px solid #fff;

}
.view1_sidebar_article_number input{
	border: none;
	outline: none;
	background-color: transparent;
	color: #2EB8E6;
	margin-left: 44%;
}
.view1_sidebar_wrapper{
	padding: 10px 2% 10px 2%;
	margin-top: 40px;
	
}
.view_article_image_common{
	width: 64%;
	float: left;
	text-align: center;
}
.view_article_image_common:hover{
	cursor: pointer;
}
.view_article_image_common img{
	width: 100%;
	height: 100px;

}
.view_article_dept_common{
	margin-left: 3%;
	padding-top: 75px;
	float: left;
}
.view_article_dept_common a{
	display: inline-block;
	height: 25px;
	background-image: url("../images/dept-12.png");
	background-repeat: no-repeat;
}
.view1_dept1_small{
width: 25px;
background-position: 0px 0px;
}
.view1_dept2_small{
	width: 20px;
	background-position: -27px 0px;
}
.view1_sidebar_article_description{
	width: 90%;
	color: #2EB8E6;
	font-weight: 600;
	font-size: 1em;
	padding-bottom: 10px;
}
.view1_sidebar_article_description:hover,.view1_sidebar_article_author:hover{
	cursor: pointer;
}
.view1_sidebar_article_author{
	color: #fff;
	width: 80%;
}
.view1_active{
	padding: 0px;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes example {
    from {width: 25%; left: 80%}
    to {width: 100%; left: 0}
}

/* Standard syntax */
@keyframes example {
    from {width: 25%; left: 80%}
    to {width: 100%; left: 0}
}
.view1_inactive{
	width: 100%;
	-webkit-animation-name: example2; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes example2 {
    from {width: 100%}
    to {width: 25%}
}

/* Standard syntax */
@keyframes example2 {
    from {width: 100%;}
    to {width: 25%;}
}

.view1_sidebar_wrapper_active{
	width: 100%;
	float: left;
}
.view1_active p input{
	margin-left: 84%;
}
.view1_active_wrapper{
	background-color: rgba(0,0,0,0.1);
	padding: 85px 2% 25px 2%;
}
.view1_sidebar_wrapper_active .view_article_image_common img{
	width: 80%;
	height: 150px;
}
.view1_sidebar_wrapper_active p{
	width: 80%;
	padding-left: 6%;
	text-align: justify;
}
.view1_sidebar_wrapper_active .view_article_dept_common{
	padding: 0px;
}
.view1_clear{
	clear: both;
}
.view1_repeat{
	float: left;
	width: 33%;
	min-height: 380px;
}
.view1_main{
	display: none;
}

@media only screen and (max-width:800px) {
	.view1_carousel_container{
		margin-bottom: 100px;
	}
	.view1_sidebar{
		width: 100%;
		margin-top: 0px;
	}
	.view1_sidebar_wrapper{
		width: 33%;
		float: left;
		padding: 0px;
	}
	.view1_sidebar_wrapper_active{
		width: 96%;
	}
	.view1_sidebar_wrapper_active p{
		width: 85%;
		padding: 0;
	}
	.view1_sidebar_article_number input {
		margin-left: 70%;
	}
	.view1_active{
	}
	@-webkit-keyframes example {
	    from {top: 100%;}
	    to {top: 0;}
	}

	/* Standard syntax */
	@keyframes example {
	    from {top: 100%;}
	    to {top: 0;}
	}
	.view1_sidebar_wrapper_active .view_article_image_common img{
	width:100%;
	height: 100px;
}
}